:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --main-logo-color: #4d5ae5;
  --footer-logo-color: #f4f4fd;
  --main-wtite-color: #ffffff;
  --button-accent-color: #404bbf;
  --button-back-color: #f4f4fd;
  --border-colour: #e7e9fc;
  --footer-accent-colo: #31d0aa;
  --customers-link-colour: #8e8f99;
  --modal-color: #fcfcfc;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--main-wtite-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */

/* mobile - 428px(396+30)
tablet - 768px(736+32)
desktop -  1158px */

.container {
  padding-left: 16px;
  padding-right: 16px;
  /* outline: 2px solid aquamarine; */

  @media screen and (min-width: 428px) {
    width: 428px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* container >*/

/* header */

.header {
  border-bottom: 1px solid var(--border-colour);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.main-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 22px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);
  transition: color var(--transition-dur-and-func);
}
.main-logo:hover,
.main-logo:focus {
  color: var(--button-accent-color);
}

.second-logo {
  color: var(--title-text-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;

  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--button-accent-color);
}

.nav-link.active-page {
  position: relative;
  color: var(--button-accent-color);
}

.active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--button-accent-color);
}

.header-address {
  margin-left: auto;
}

.address-link {
  font-style: normal;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}
.address-link:hover,
.address-link:focus {
  color: var(--button-accent-color);
}

/* header> */

/* hero */
.hero-section {
  background-color: var(--title-text-color);
  max-width: 428px;
  height: 432px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  color: var(--main-wtite-color);

  max-width: 320px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  border: none;
  transition: background-color var(--transition-dur-and-func);

  letter-spacing: 0.04em;
  color: var(--main-wtite-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  text-align: center;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent-color);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@2x.jpg);
  }
}
/* hero> */

/* advantages */
.advantages-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-icon {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;

  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* advantages> */

/* team */

.team-section {
  background-color: var(--footer-logo-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item {
  background-color: var(--main-wtite-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;

  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.team-img {
  margin-bottom: 32px;
}

.team-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  text-align: center;
  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;

  text-align: center;
}

.team-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}

.links-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  transition: background-color var(--transition-dur-and-func);

  background-color: var(--main-logo-color);
}
.links-social:hover,
.links-social:focus {
  background-color: var(--button-accent-color);
}

.links-icon {
  fill: var(--footer-logo-color);
}
/* team> */

/* customers */
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;

  text-align: center;
  color: var(--title-text-color);
}

.customers-link {
  display: flex;
  width: 190px;
  height: 88px;
  transition: border-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);

  border: 1px solid var(--customers-link-colour);
  border-radius: 4px;
  color: var(--customers-link-colour);

  justify-content: center;
  align-items: center;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--button-accent-color);
  border: 1px solid var(--button-accent-color);
}

.customers-icon {
  fill: currentColor;
}
/* customers> */

/* footer */

.main-footer {
  background-color: var(--title-text-color);

  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--button-accent-color);
}

.footer-second {
  color: var(--footer-logo-color);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;

  color: var(--footer-logo-color);
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-wtite-color);

  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);

  background-color: var(--main-logo-color);

  justify-content: center;
  align-items: center;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--footer-accent-colo);
}

.footer-icon {
  fill: var(--button-back-color);
}

.footer-b {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  color: var(--main-wtite-color);
}

.footer-input {
  width: 398px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--main-wtite-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-wtite-color);
  transition: border-color var(--transition-dur-and-func);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;

  letter-spacing: 0.04em;

  color: var(--main-wtite-color);
}
.footer-input:focus {
  outline: none;
  border-color: var(--main-logo-color);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-dur-and-func);

  color: var(--main-wtite-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  border: none;
  border-radius: 4px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-accent-color);
}

.subscribe-icon {
  margin-left: 16px;
}

/* footer> */

/* portfolio */

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.portfolio-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--border-colour);

  color: var(--main-logo-color);
  background-color: var(--button-back-color);
  cursor: pointer;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--main-wtite-color);
  background-color: var(--button-accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-apps {
  padding: 32px 16px;
  border: 1px solid var(--border-colour);
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-link.link:hover,
.portfolio-link.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--title-text-color);

  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);

  font-size: 16px;
  line-height: 1.5;

  padding: 40px 32px;

  color: var(--button-back-color);
  background-color: var(--main-logo-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

/* portfolio> */

/* modal form */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  color: var(--title-text-color);
}

.label-container {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;

  letter-spacing: 0.04em;

  color: var(--customers-link-colour);
}

.form-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}

.modal-input:focus {
  border-color: var(--main-logo-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--transition-dur-and-func);
}

.modal-input:focus + .modal-form-icon {
  fill: var(--main-logo-color);
}

.form-textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--transition-dur-and-func);
}

.modal-textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--main-logo-color);
}

.chackbox-container {
  margin-bottom: 24px;
}

.modal-label-policy {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: var(--customers-link-colour);
}

.modal-checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  fill: transparent;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.modal-check:checked + .modal-label-policy > .modal-checkbox-icon {
  background-color: var(--button-accent-color);
  border: none;
  fill: var(--main-wtite-color);
}

.check-link {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: var(--main-logo-color);
  transition: color var(--transition-dur-and-func);
}

.check-link:hover,
.check-link:focus {
  color: var(--button-accent-color);
}

.modal-send {
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-dur-and-func);

  color: var(--main-wtite-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-send:hover,
.modal-send:focus {
  background-color: var(--button-accent-color);
}

/* modal */

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  transition: transform var(--transition-dur-and-func);

  background-color: var(--modal-color);

  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);

  background-color: var(--border-colour);
}

.close-modal {
  fill: var(--title-text-color);
  transition: fill var(--transition-dur-and-func);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: var(--button-accent-color);
}
.close-btn:hover .close-modal,
.close-btn:focus .close-modal {
  fill: var(--main-wtite-color);
}

/* modal form */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  color: var(--title-text-color);
}

.label-container {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;

  letter-spacing: 0.04em;

  color: var(--customers-link-colour);
}

.form-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}

.modal-input:focus {
  border-color: var(--main-logo-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--transition-dur-and-func);
}

.modal-input:focus + .modal-form-icon {
  fill: var(--main-logo-color);
}

.form-textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--transition-dur-and-func);
}

.modal-textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--main-logo-color);
}

.chackbox-container {
  margin-bottom: 24px;
}

.modal-label-policy {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: var(--customers-link-colour);
}

.modal-checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  fill: transparent;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.modal-check:checked + .modal-label-policy > .modal-checkbox-icon {
  background-color: var(--button-accent-color);
  border: none;
  fill: var(--main-wtite-color);
}

.check-link {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: var(--main-logo-color);
  transition: color var(--transition-dur-and-func);
}

.check-link:hover,
.check-link:focus {
  color: var(--button-accent-color);
}

.modal-send {
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-dur-and-func);

  color: var(--main-wtite-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-send:hover,
.modal-send:focus {
  background-color: var(--button-accent-color);
}

/* modal menu + only mobile */

@media screen and (max-width: 767px) {
  .list-nav {
    display: none;
  }

  .main-address {
    display: none;
  }

  .mobile-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 32px;
  }

  .mobile-open-icon {
    stroke: var(--title-text-color);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: var(--main-wtite-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func),
      visibility var(--transition-dur-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-modal {
    position: relative;
    padding-left: 40px;
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color var(--transition-dur-and-func),
      border var(--transition-dur-and-func);

    background-color: var(--border-colour);
  }

  .mobile-close-menu {
    fill: var(--title-text-color);
    transition: fill var(--transition-dur-and-func);
  }

  .mobile-close-btn:hover,
  .mobile-close-btn:focus {
    border: none;
    background-color: var(--button-accent-color);
  }
  .mobile-close-btn:hover .mobile-close-menu,
  .mobile-close-btn:focus .mobile-close-menu {
    fill: var(--main-wtite-color);
  }

  .mobile-nav {
    margin-bottom: 284px;
  }

  .mobile-links:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--title-text-color);
  }
  .mobile-link.is-active {
    color: var(--button-accent-color);
  }

  .mobile-address {
    margin-bottom: 48px;
  }

  .mobile-address-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu-phone-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--main-logo-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu-phone-link:focus {
    color: var(--button-accent-color);
  }

  .menu-mail-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu-mail-link:focus {
    color: var(--button-accent-color);
  }

  .menu-social-links {
    display: flex;
    gap: 56px;
    justify-content: center;
  }

  .menu-links-social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    transition: background-color var(--transition-dur-and-func);

    background-color: var(--main-logo-color);
  }
  .links-social:focus {
    background-color: var(--button-accent-color);
  }

  .menu-links-icon {
    fill: var(--footer-logo-color);
  }

  .advantages-title {
    text-align: center;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
  /* footer */

  .footer-list {
    margin-bottom: 72px;
  }

  .footer-text {
    margin-bottom: 72px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-input {
    margin-bottom: 16px;
  }

  /* portfolio */

  .portfolio-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

/* modal menu +mobile> */

/* tablet */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-open {
    display: none;
  }
  /* header */
  .main-nav {
    display: flex;
    align-items: center;
  }

  .list-nav {
    display: flex;
    gap: 40px;
  }

  /* hero */
  .hero-section {
    max-width: 768px;
    height: 436px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.jpg);
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    min-width: 496px;
    height: 120px;
  }

  /* advantages */

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advantages-text {
    max-width: 356px;
  }

  /* team */

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  /* custpmers */
  .customers-list {
    justify-content: center;
    gap: 72px 24px;
  }

  .customers-link {
    width: 168px;
    height: 88px;
  }

  .footer-input {
    width: 264px;
  }

  /* modal */

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  /* portfolio */

  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }

  .portfolio-products {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    gap: 72px 24px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (max-width: 1157px) {
  .main-logo {
    margin-right: 120px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .presentation-section {
    display: none;
  }

  /* footer */
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero@2x.jpg);
  }
}

/* tablet> */

/* desktop  */
@media screen and (min-width: 1158px) {
  /* header */
  .main-address {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
  /* hero */
  .hero-section {
    max-width: 1440px;
    height: 600px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }

  /* advantages */
  .advantages-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;

    background-color: var(--button-back-color);

    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .advantages-text {
    font-weight: 400;
    max-width: 264px;
  }

  /* presentation */

  .presentation-section {
    padding-bottom: 120px;
  }

  .presentation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);

    margin-bottom: 72px;
  }

  .presentation-list {
    display: flex;
    gap: 24px;
  }

  /* team */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* customers */
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }
  /* customers> */

  /* footer */
  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .logo-container {
    margin-right: 120px;
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }

  .footer-form {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }

  /* portfolio */

  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    margin-bottom: 72px;
  }

  .portfolio-products {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
/* desktop> */
